body {
  text-align: center;
  background: rgb(160, 43, 219);
  background: -moz-linear-gradient(45deg, rgba(160, 43, 219, 0.85) 0%, rgba(30, 126, 150, 0.85) 100%), url("../img/ss.jpg") no-repeat;
  background: -webkit-linear-gradient(45deg, rgba(160, 43, 219, 0.85) 0%, rgba(30, 126, 150, 0.85) 100%), url("../img/ss.jpg") no-repeat;
  background: linear-gradient(45deg, rgba(160, 43, 219, 0.85) 0%, rgba(30, 126, 150, 0.85) 100%), url("../img/ss.jpg") no-repeat;
  padding: 25px auto;
  margin: 25px auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-weight: 400;
  display: block;
}

.profile-img {
  max-width: 40%;
  max-height: 40%;
  margin: 0 auto 10px;
  display: block;
}

.profile-img-reg {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important;
}

.asteriskField {
  color: red;
}

.mytodo {
  padding: 10px;
  border-radius: 3px;
  max-width: 200px;
}

.mytodotextt {
  overflow-wrap: break-word;
  letter-spacing: 1px;
  line-height: 0.8cm;
}

.white {
  background-color: #ecf0f1;
}

.black {
  background-color: #2c3e50;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #27ae60;
}

.blue {
  background-color: #2980b9;
}

.purple {
  background-color: #8e44ad;
}

.orange {
  background-color: #f39c12;
}

.whitetext {
  color: #FFF;
}

.blacktext {
  color: #000;
}

.redtext {
  color: #e74c3c;
}

.greentext {
  color: #27ae60;
}

.bluetext {
  color: #2980b9;
}

.purpletext {
  color: #8e44ad;
}

.orangetext {
  color: #f39c12;
}

.vis {
  visibility: hidden;
}

.fa-check {
  color: #2ecc71;
  font-size: 40px;
}

.t2 {
  font-size: 14px;
}
.t4 {
  font-size: 18px;
}
.t5 {
  font-size: 20px;
}
.t6 {
  font-size: 22px;
}
.t7 {
  font-size: 24px;
}
